// @stylint off
$icon-font-path = "~bootstrap-styl/fonts/"
$btn-border-radius-base = 50px
// @stylint on

/*!!
 * bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@require "bootstrap/variables"
@require "bootstrap/mixins"

// Reset and dependencies
@require "bootstrap/normalize"
// @require "bootstrap/print"
@require "bootstrap/glyphicons"

// Core CSS
@require "bootstrap/scaffolding"
@require "bootstrap/type"
@require "bootstrap/code"
// @require "bootstrap/grid"
@require "bootstrap/tables"
@require "bootstrap/forms"
@require "bootstrap/buttons"

// Components
// @require "bootstrap/component-animations"
// @require "bootstrap/dropdowns"
// @require "bootstrap/button-groups"
@require "bootstrap/input-groups"
// @require "bootstrap/navs"
// @require "bootstrap/navbar"
// @require "bootstrap/breadcrumbs"
// @require "bootstrap/pagination"
// @require "bootstrap/pager"
@require "bootstrap/labels"
@require "bootstrap/badges"
// @require "bootstrap/jumbotron"
@require "bootstrap/thumbnails"
// @require "bootstrap/alerts"
@require "bootstrap/progress-bars"
@require "bootstrap/media"
// @require "bootstrap/list-group"
@require "bootstrap/panels"
// @require "bootstrap/responsive-embed"
@require "bootstrap/wells"
@require "bootstrap/close"

// Components w/ JavaScript
// @require "bootstrap/modals"
// @require "bootstrap/tooltip"
@require "bootstrap/popovers"
// @require "bootstrap/carousel"

// Utility classes
@require "bootstrap/utilities"
@require "bootstrap/responsive-utilities"
